{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: "Permanent Marker", cursive;
}
.wrapper {
    background: lightgreen;
    min-height: 100vh;
    max-width: 900px;
    margin:0 auto;
}