.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);  
}
.phone {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    margin:6%;
    justify-content: space-evenly;
    flex: center;
}
.box{
width: 20px;
height: 20px;
background:rgb( 34 465 200);
margin: 5px;
padding: 15px;
border-radius: 15px;
border: 2px solid black;
}